/* helpers */
/*to generate @font-face tags for a chosen font, visit: https://www.fontsquirrel.com/tools/webfont-generator*/
/* http://www.1001fonts.com/carbon-font.html */
@font-face {
  font-family: 'carbon';
  src: url("/assets/fonts/carbon_bl-webfont.eot");
  src: url("/assets/fonts/carbon_bl-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/carbon_bl-webfont.woff2") format("woff2"), url("/assets/fonts/carbon_bl-webfont.woff") format("woff"), url("/assets/fonts/carbon_bl-webfont.ttf") format("truetype"), url("/assets/fonts/carbon_bl-webfont.svg#carbonblack") format("svg");
  font-weight: normal;
  font-style: normal; }

/* standard media query variables */
/* color blind safe color palette - see: https://personal.sron.nl/~pault/ */
/* fonts */
/* style guide */
.App {
  height: 100vh;
  display: block; }

.zip-and-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.widget {
  background-color: white;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48%;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: top; }
  @media only screen and (max-width: 1024px) {
    .widget {
      width: 98%;
      margin-top: 20px; } }
  .widget h2 {
    font-family: "carbon";
    padding-left: 10px;
    padding-top: 10px; }
  .widget .children-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #3366aa;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.current-weather-body {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    .current-weather-body {
      flex-direction: column;
      text-align: center; } }
  .current-weather-body .current-temp-and-feels-like-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 1024px) {
      .current-weather-body .current-temp-and-feels-like-container {
        width: 100%; } }
    .current-weather-body .current-temp-and-feels-like-container .current-temp {
      font-size: 80px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 1024px) {
        .current-weather-body .current-temp-and-feels-like-container .current-temp {
          font-size: 10vw; } }
      @media only screen and (max-width: 1024px) and (orientation: landscape) {
        .current-weather-body .current-temp-and-feels-like-container .current-temp {
          font-size: 15vw; } }
      @media only screen and (max-width: 480px) {
        .current-weather-body .current-temp-and-feels-like-container .current-temp {
          font-size: 25vw; } }
    .current-weather-body .current-temp-and-feels-like-container .feels-like {
      text-align: center;
      font-size: 20px; }
  .current-weather-body .icon-and-weather-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .current-weather-body .icon-and-weather-container {
        width: 100%; } }
    .current-weather-body .icon-and-weather-container .weather-desc {
      text-transform: capitalize;
      font-size: 22px; }
    .current-weather-body .icon-and-weather-container .weather-icon {
      width: 150px; }
    @media only screen and (max-width: 1024px) {
      .current-weather-body .icon-and-weather-container {
        margin-bottom: 10px; } }
  .current-weather-body .high-low-container {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 1024px) {
      .current-weather-body .high-low-container {
        width: 100%; } }
    @media only screen and (max-width: 1024px) {
      .current-weather-body .high-low-container {
        display: block; } }
    .current-weather-body .high-low-container .high-low {
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      padding-top: 30px; }
      @media only screen and (max-width: 1024px) {
        .current-weather-body .high-low-container .high-low {
          height: unset;
          width: 50%;
          display: inline-block;
          font-size: 25px;
          padding-top: 10px; } }
    .current-weather-body .high-low-container .high {
      color: #ee3333; }
    .current-weather-body .high-low-container .low {
      color: #3366aa; }
    .current-weather-body .high-low-container .desc {
      margin-right: 5px; }
      @media only screen and (max-width: 1024px) {
        .current-weather-body .high-low-container .desc {
          margin-right: unset; } }

.toggle-label {
  color: white;
  margin-top: 6px; }

.c-label {
  margin-left: -4px; }

.react-toggle-track {
  background-color: #ee3333 !important; }

.react-toggle--checked .react-toggle-track {
  background-color: #3366aa !important; }

.toggle-container {
  margin: 20px; }

.zip-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px; }
  .zip-input-container input {
    width: 300px; }
    @media only screen and (max-width: 1024px) {
      .zip-input-container input {
        width: 75%; } }
  .zip-input-container button {
    color: white;
    background-color: #222222;
    height: 30px;
    margin-left: -5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }

.forecast-body-container {
  height: 300px;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #DDDDDD; }

html {
  width: 100vw; }

#root {
  width: 100vw;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
  padding: 0; }

.bold {
  font-weight: bold; }

input {
  font-size: 16px;
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 5px;
  border-color: #4c4c4c; }

button {
  border-radius: 5px;
  border-color: #4c4c4c; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.error-message {
  color: red;
  font-size: 20px; }

/*# sourceMappingURL=main.css.map */
