.widget {
    background-color: $white;
    position: relative;
    box-sizing: border-box;
    display: block;
    border-radius: $border-radius;
    width: 48%;
    margin-top: 20px;
    margin-left: 1%;

    @media only screen and (max-width: $landscape-phone-and-below-max-width) {
        width: 98%;
        margin-top: 20px;

     }


    h2 {
        font-family: $header-font;
        padding-left: $side-padding;
    }

    .children-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}