/* helpers */

@import 'sass-helpers/fonts';
@import 'sass-helpers/variables';
@import 'sass-helpers/mixins';

@import 'content/App';
@import 'content/components/Widget';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100vw;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
}