/* helpers */

@import 'sass-helpers/fonts';
@import 'sass-helpers/variables';
@import 'sass-helpers/mixins';

@import 'content/App';
@import 'content/components/widget/Widget';
@import 'content/components/spinner/Spinner';
@import 'content/components/currentWeatherBody/CurrentWeatherBody';
@import 'content/components/FOrCToggle/FOrCToggle';
@import 'content/components/ZipInput/ZipInput';
@import 'content/components/ForecastBody/ForecastBody';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $gray;
}

html {
  width: 100vw;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, span, p {
 margin: 0;
 padding: 0;
}

.bold {
  font-weight: bold;
}

input {
  font-size: 16px; // font-size should be at least 16 pxls to prevent safari auto zoom
  // the below keeps inputs consistent with safari inputs
  padding-top: 0.2em;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 5px;
  border-color: rgb(76, 76, 76);

}

button {
  border-radius: 5px;
  border-color: rgb(76, 76, 76);
}

// Hide arrows on number inputs
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}